<ul class="list-group menu-map">
  <li
    class="list-group-item"
    [routerLink]="['/mapas/fullscreen']"
    routerLinkActive="active"
  >
    Full Screen
  </li>
  <li
    class="list-group-item"
    [routerLink]="['/mapas/zoom-range']"
    routerLinkActive="active"
  >
    Zoom Range
  </li>
  <li
    class="list-group-item"
    [routerLink]="['/mapas/marcadores']"
    routerLinkActive="active"
  >
    Marcadores
  </li>
  <li
    class="list-group-item"
    [routerLink]="['/mapas/propiedades']"
    routerLinkActive="active"
  >
    Propiedades
  </li>
</ul>
