<ul class="list-group menu-map">
  <li
    class="list-group-item"
    [routerLink]="['/graficas/barra']"
    routerLinkActive="active"
  >
    Barra
  </li>
  <li
    class="list-group-item"
    [routerLink]="['/graficas/barra-doble']"
    routerLinkActive="active"
  >
    Barra Doble
  </li>
  <li
    class="list-group-item"
    [routerLink]="['/graficas/dona']"
    routerLinkActive="active"
  >
    Dona
  </li>
  <li
    class="list-group-item"
    [routerLink]="['/graficas/dona-http']"
    routerLinkActive="active"
  >
    Dona Http
  </li>
</ul>
