/* You can add global styles to this file, and also import other style files */
fa-icon {
  cursor: pointer;
  transition: transform .2s linear;
  font-size: 1.2rem;
}

fa-icon:hover {
  transform: scale(1.3);
}

.text-justify {
  text-align: justify;
}

.menu-map {
  z-index: 1001;
}

.map {
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

ul li {
  cursor: pointer;
}
