/* You can add global styles to this file, and also import other style files */
bi {
  cursor: pointer;
  height: auto;
  width: 1.3rem;
  transition: transform .2s linear;
}
bi:hover{
  transform: scale(1.5);
}
