<li class="list-group-item shadow rounded-3 mb-3">
  <div class="d-flex justify-content-between">
    <p class="text-muted fst-italic m-0">
      -- {{post.autor | titlecase}}
    </p>
    <div class="icons d-flex">
      <fa-icon
        tooltip="Ver mas..."
        [options]="options"
        [icon]="faEye"
        class="me-3"
        [routerLink]="['/posts', post.id]"
      ></fa-icon>
      <fa-icon
        tooltip="Editar"
        [options]="options"
        [icon]="faPen"
        class="me-3"
        [routerLink]="['/posts/editar', post.id]"
      ></fa-icon>
      <fa-icon
        tooltip="Eliminar"
        [options]="options"
        [icon]="faTrash"
        class="me-3 text-danger"
        (click)="deletePost(post)"
      ></fa-icon>
    </div>
  </div>
  <p class="fw-bolder text-center mt-4">{{post.title}}</p>
  <p class="fw-lighter text-justify text-truncate">
    {{post.content}}
  </p>
</li>
