.container-zoom {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 1001;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: .6rem;
  font-weight: bold;
  width: 23rem;
  -webkit-box-shadow: 0px 7px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 16px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 16px -4px rgba(0, 0, 0, 0.75);

}
